# MQTT
MQTT_HOST=mosquitto
MQTT_PORT=1883

# InfluxDB
INFLUXDB_URL=http://influxdb:8086
INFLUXDB_TOKEN=changeme
INFLUXDB_ORG=iiot
INFLUXDB_BUCKET=telemetry
DOCKER_INFLUXDB_INIT_MODE=setup
DOCKER_INFLUXDB_INIT_USERNAME=admin
DOCKER_INFLUXDB_INIT_PASSWORD=changeme123
DOCKER_INFLUXDB_INIT_ORG=iiot
DOCKER_INFLUXDB_INIT_BUCKET=telemetry
DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=changeme

# Grafana
GF_SECURITY_ADMIN_PASSWORD=changeme
